/* The Structure of each folder should go like this 
    section>.wrapper>.sect-details
    The .sect-details>.sect-title+.sect-subtitle is ALWAYS under the .wrapper
*/
@import "tailwindcss";
/* Global Variables */
:root{
    /* Color Variables */
    --primary-color: rgb(75, 0, 130);
    --secondary-color: rgb(63, 0, 111);
    --accent-color: rgb(26, 0, 55);
    --text-color: #333333;
    --background-color: #f5f5f5;
    --error-color: #ff4d4d;
    --success-color: #4caf50;
    --warning-color: #ff9800;

    /* Spacing Variables */
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 2rem;

    /* Width Variables */
    --max-width:1500px;
    --min-width:330px;

    /* Height Variables */
    --full-min-height:99dvh;
    --half-min-height:47dvh;
}

*{
    transition: .3s all;
}

body{
    @apply bg-[var(--background-color)]
}

section{
    @apply min-h-[var(--full-min-height)] flex items-center justify-center 
}

section.half{
    @apply min-h-[var(--half-min-height)]
}
.wrapper{
    @apply max-w-[var(--max-width)] flex flex-col w-full items-center justify-center gap-10
}
.sect-details{

    .sect-title{
        span{
            background: linear-gradient(to right, var(--primary-color), var(--error-color));
            @apply bg-clip-text text-transparent
        }
        @apply text-[3.5em] font-[600] text-center 
    }

    .sect-subtitle{
        @apply text-[1.4em] text-[var(--text-color)] text-center
    }
    @apply flex flex-col w-full max-w-[70%] gap-4
}
.card-wrapper{

}

.button-wrapper{
    button{
        @apply bg-[var(--primary-color)] px-6 py-1.5 text-white
    }
    @apply flex flex-wrap gap-10
}
